@font-face {
  font-family: "Arial-MT";
  src: url("../assets/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
  height: auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-image: url("./assets/home.png");
}

main {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  gap: 30px;
}

.ancients-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ancient-img {
  height: 320px;
  width: auto;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  border: 5px solid #a822a6 !important;
  color: #a822a6 !important;
}

.diff-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shuffle {
  margin-top: 30px;
  visibility: hidden;
}

.diff {
  width: auto;
  border: 5px solid #be9fc4;
  box-sizing: border-box;
  color: #be9fc4;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.deck-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  visibility: hidden;
}

.deck,
.card {
  height: 400px;
  width: auto;
  border-radius: 10px;
}

.deck {
  margin-right: 30px;
  cursor: pointer;
}

.card {
  visibility: hidden;
}

.stage-text {
  margin-top: 20px;
  margin-bottom: 10px;
}

.dots {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.dot {
  padding-top: 5px;
  text-align: center;
  height: 30px;
  width: 30px;

  border-radius: 50%;
}

.green {
  background-color: #91cb3e;
}

.brown {
  background-color: #934b00;
}

.blue {
  background-color: #1d548f;
}

.links {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#RS-logo {
  height: 32px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
